
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#app {
    background-image: url("https://img.freepik.com/foto-gratis/paisaje-urbano-japon-nocturno_23-2148889543.jpg");
    background-size: cover;

}

.palo {
    width: 20px;
    height: 250px;
    background-color: black;
}
.semaf {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    
    color: white;
    font-size: 16px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}
.luz {
    position: absolute;
    width: 90px;
    height: 90px;
    
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-background {
    background: radial-gradient(yellow, black);
}
.custom-green {
    background-color: black;
}